#Queue-list li {
    list-style: none;
    display: inline-block;
    margin: 10px;
    width: 30px;
    height: 30px;
    background: #999;
    color: #fff;
    line-height: 30px;
    text-align: center;
}